<% favorites.forEach(function(favorite) { %>
  <div class="well">
    <a href="<%= favorite.url %>"><h1><%= favorite.name%></h1></a>
	<a href="<%= favorite.url  %>"><img src="<%= favorite.image_url %>"></a>
	<img src='<%= favorite.rating_img_url%>'>
   
    <!-- <a href="" class="btn btn-danger pull-right delete-btn">Remove</a> -->
  </div>
<% }); %>