<% favorites.forEach(function(favorite) { %>
  <div>
    <a href="<%= favorite.url %>"><h1><%= favorite.name%></h1></a>
	<a href="<%= favorite.url  %>"><img src="<%= favorite.imgUrl %>"></a>
	<img src='<%= favorite.ratingImgUrl %>'>
   
    <!-- <a href="" class="btn btn-danger pull-right delete-btn">Remove</a> -->
  </div>
<% }); %>